<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo22 表单数据的双向绑定</title>
    <script src="https://unpkg.com/vue@next" ></script>
</head>
<body>
    <div id="app"></div>
</body>
<script>
    const app=Vue.createApp({ 
    data(){
        return{
            name: '',
            checked: false,
            nameCheck: '小胖子',
            check: true,
            girls: [],
            girl: ''
        }
    },
    methods:{

    },
    template:`
    <div>
        <div>{{name}}</div>
        <div><input v-model="name" /></div>
        <div><textarea v-model="name" /></div>
        <div>{{checked}}<input type="checkbox" v-model="checked"></div>
        <div>{{nameCheck}}<input type="checkbox" v-model="nameCheck" true-value="小胖子" false-value="www.baidu.com"></div>
        <div>
            {{girls}}
            大脚<input type="checkbox" v-model="girls" value="大脚">
            刘英<input type="checkbox" v-model="girls" value="刘英">
            晓红<input type="checkbox" v-model="girls" value="晓红">
        </div>
        <div>
            {{girl}}
            大脚<input type="radio" v-model="girl" value="大脚">
            刘英<input type="radio" v-model="girl" value="刘英">
            晓红<input type="radio" v-model="girl" value="晓红">
        </div>
    </div>` 
    }) 
    const vm=app.mount("#app")

</script>
</html>